<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analysis</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <style>
        .chartContainer{
            border-radius: 20px;
            border: solid black 2px;
            padding: 10px;
            background-color: white;
            width: 50vw;
            box-shadow: black 0 0 10px;
        }
    </style>
</head>
<body>
    <h1>Crime Rate Distribution</h1>
    <div class="chartContainer">
        {{ graph1 | safe }}
    </div>
</body>
</html>