<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_874e0945467fef520345c9b4ad0152fc {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_874e0945467fef520345c9b4ad0152fc" ></div>
        
</body>
<script>
    
    
            var map_874e0945467fef520345c9b4ad0152fc = L.map(
                "map_874e0945467fef520345c9b4ad0152fc",
                {
                    center: [23.132894894827583, 77.22804147224137],
                    crs: L.CRS.EPSG3857,
                    ...{
  "zoom": 5,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_843a55a9df483baba2d852055aaf1854 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
  "minZoom": 0,
  "maxZoom": 19,
  "maxNativeZoom": 19,
  "noWrap": false,
  "attribution": "OpenStreet Maps",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_843a55a9df483baba2d852055aaf1854.addTo(map_874e0945467fef520345c9b4ad0152fc);
        
    
            var circle_marker_e4af1257a0ed418596bc35e0ea4322cc = L.circleMarker(
                [27.1752554, 78.0098161],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_874e0945467fef520345c9b4ad0152fc);
        
    
        var popup_b40b357c1444965f0c8772ca21ac1836 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_70a9cd9ac00fb3fa50bb371092dfa95b = $(`<div id="html_70a9cd9ac00fb3fa50bb371092dfa95b" style="width: 100.0%; height: 100.0%;">Agra: 4.233 per 100,000 people</div>`)[0];
                popup_b40b357c1444965f0c8772ca21ac1836.setContent(html_70a9cd9ac00fb3fa50bb371092dfa95b);
            
        

        circle_marker_e4af1257a0ed418596bc35e0ea4322cc.bindPopup(popup_b40b357c1444965f0c8772ca21ac1836)
        ;

        
    
    
            var circle_marker_97b7f42e67825fede9b4de6b5826d358 = L.circleMarker(
                [23.0215374, 72.5800568],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_874e0945467fef520345c9b4ad0152fc);
        
    
        var popup_df66a6d1e20575f305dd40acbbb9038e = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_6cfe499867871178286668714a1f3ac5 = $(`<div id="html_6cfe499867871178286668714a1f3ac5" style="width: 100.0%; height: 100.0%;">Ahmedabad: 38.956 per 100,000 people</div>`)[0];
                popup_df66a6d1e20575f305dd40acbbb9038e.setContent(html_6cfe499867871178286668714a1f3ac5);
            
        

        circle_marker_97b7f42e67825fede9b4de6b5826d358.bindPopup(popup_df66a6d1e20575f305dd40acbbb9038e)
        ;

        
    
    
            var circle_marker_e88541f55c1ebd8b996df0761169ce25 = L.circleMarker(
                [12.98815675, 77.62260003796],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_874e0945467fef520345c9b4ad0152fc);
        
    
        var popup_d3ce7e0a666f2423e0c60596d04200bf = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_f71dc31ab6639266f1cb40bc624f973e = $(`<div id="html_f71dc31ab6639266f1cb40bc624f973e" style="width: 100.0%; height: 100.0%;">Bangalore: 30.459 per 100,000 people</div>`)[0];
                popup_d3ce7e0a666f2423e0c60596d04200bf.setContent(html_f71dc31ab6639266f1cb40bc624f973e);
            
        

        circle_marker_e88541f55c1ebd8b996df0761169ce25.bindPopup(popup_d3ce7e0a666f2423e0c60596d04200bf)
        ;

        
    
    
            var circle_marker_d7b53fe53f378dbc2e0cb304fa991c6b = L.circleMarker(
                [23.2584857, 77.401989],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_874e0945467fef520345c9b4ad0152fc);
        
    
        var popup_925625c98e0d7ea524e2e74b82c9e0fa = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_c0d590a85426289e1c7e9082a80375ae = $(`<div id="html_c0d590a85426289e1c7e9082a80375ae" style="width: 100.0%; height: 100.0%;">Bhopal: 8.065 per 100,000 people</div>`)[0];
                popup_925625c98e0d7ea524e2e74b82c9e0fa.setContent(html_c0d590a85426289e1c7e9082a80375ae);
            
        

        circle_marker_d7b53fe53f378dbc2e0cb304fa991c6b.bindPopup(popup_925625c98e0d7ea524e2e74b82c9e0fa)
        ;

        
    
    
            var circle_marker_258a9954f15e06b77a83acbb05ee4ae8 = L.circleMarker(
                [13.0836939, 80.270186],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_874e0945467fef520345c9b4ad0152fc);
        
    
        var popup_82725518925edf4393685173d020144a = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_6fb72ca4610c60201c1a252f28160e51 = $(`<div id="html_6fb72ca4610c60201c1a252f28160e51" style="width: 100.0%; height: 100.0%;">Chennai: 40.274 per 100,000 people</div>`)[0];
                popup_82725518925edf4393685173d020144a.setContent(html_6fb72ca4610c60201c1a252f28160e51);
            
        

        circle_marker_258a9954f15e06b77a83acbb05ee4ae8.bindPopup(popup_82725518925edf4393685173d020144a)
        ;

        
    
    
            var circle_marker_5d8dd9d442b73146786c623f96ca4381 = L.circleMarker(
                [28.6273928, 77.1716954],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_874e0945467fef520345c9b4ad0152fc);
        
    
        var popup_6d7edba382c88ea6e6c31a425f386229 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_deac9d66447954dfd6df82e2daa98b16 = $(`<div id="html_deac9d66447954dfd6df82e2daa98b16" style="width: 100.0%; height: 100.0%;">Delhi: 61.815 per 100,000 people</div>`)[0];
                popup_6d7edba382c88ea6e6c31a425f386229.setContent(html_deac9d66447954dfd6df82e2daa98b16);
            
        

        circle_marker_5d8dd9d442b73146786c623f96ca4381.bindPopup(popup_6d7edba382c88ea6e6c31a425f386229)
        ;

        
    
    
            var circle_marker_5a320275357b1e15b41fe98465a839ef = L.circleMarker(
                [28.4031478, 77.3105561],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_874e0945467fef520345c9b4ad0152fc);
        
    
        var popup_f29db8bdb8f13c6267580af04b1740f1 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_0e6cf4330b19a943ddfa7ef99f9c7ef6 = $(`<div id="html_0e6cf4330b19a943ddfa7ef99f9c7ef6" style="width: 100.0%; height: 100.0%;">Faridabad: 2.123 per 100,000 people</div>`)[0];
                popup_f29db8bdb8f13c6267580af04b1740f1.setContent(html_0e6cf4330b19a943ddfa7ef99f9c7ef6);
            
        

        circle_marker_5a320275357b1e15b41fe98465a839ef.bindPopup(popup_f29db8bdb8f13c6267580af04b1740f1)
        ;

        
    
    
            var circle_marker_c991a609b2215c66e309e1c8158e3bc8 = L.circleMarker(
                [28.7749966, 77.4586967071196],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_874e0945467fef520345c9b4ad0152fc);
        
    
        var popup_c1c1c4f6d4e64087797747b850af11f5 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_d20690a213c388bb1c8d46d6ae74420e = $(`<div id="html_d20690a213c388bb1c8d46d6ae74420e" style="width: 100.0%; height: 100.0%;">Ghaziabad: 3.57 per 100,000 people</div>`)[0];
                popup_c1c1c4f6d4e64087797747b850af11f5.setContent(html_d20690a213c388bb1c8d46d6ae74420e);
            
        

        circle_marker_c991a609b2215c66e309e1c8158e3bc8.bindPopup(popup_c1c1c4f6d4e64087797747b850af11f5)
        ;

        
    
    
            var circle_marker_8fe319628f274160c7e06e42f35e6c36 = L.circleMarker(
                [17.360589, 78.4740613],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_874e0945467fef520345c9b4ad0152fc);
        
    
        var popup_253269c7984c8d2601aad3c8e1b36e8a = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_1b1e37c5517a88d91d46a8738a2366be = $(`<div id="html_1b1e37c5517a88d91d46a8738a2366be" style="width: 100.0%; height: 100.0%;">Hyderabad: 60.764 per 100,000 people</div>`)[0];
                popup_253269c7984c8d2601aad3c8e1b36e8a.setContent(html_1b1e37c5517a88d91d46a8738a2366be);
            
        

        circle_marker_8fe319628f274160c7e06e42f35e6c36.bindPopup(popup_253269c7984c8d2601aad3c8e1b36e8a)
        ;

        
    
    
            var circle_marker_515de16db66bcb91ab11068c64d67173 = L.circleMarker(
                [22.7203616, 75.8681996],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_874e0945467fef520345c9b4ad0152fc);
        
    
        var popup_0577b490424e44e67c2912ea26299879 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_faf43eee5d142c75b93216e4fc6e5843 = $(`<div id="html_faf43eee5d142c75b93216e4fc6e5843" style="width: 100.0%; height: 100.0%;">Indore: 5.339 per 100,000 people</div>`)[0];
                popup_0577b490424e44e67c2912ea26299879.setContent(html_faf43eee5d142c75b93216e4fc6e5843);
            
        

        circle_marker_515de16db66bcb91ab11068c64d67173.bindPopup(popup_0577b490424e44e67c2912ea26299879)
        ;

        
    
    
            var circle_marker_10f328d5c1d4726bacb0865520278399 = L.circleMarker(
                [26.9154576, 75.8189817],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_874e0945467fef520345c9b4ad0152fc);
        
    
        var popup_df245c1ad46f0a7e0532f43baee9d2d3 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_2ed2b90b9e438bdf0722bd1cad48fccc = $(`<div id="html_2ed2b90b9e438bdf0722bd1cad48fccc" style="width: 100.0%; height: 100.0%;">Jaipur: 26.311 per 100,000 people</div>`)[0];
                popup_df245c1ad46f0a7e0532f43baee9d2d3.setContent(html_2ed2b90b9e438bdf0722bd1cad48fccc);
            
        

        circle_marker_10f328d5c1d4726bacb0865520278399.bindPopup(popup_df245c1ad46f0a7e0532f43baee9d2d3)
        ;

        
    
    
            var circle_marker_a510296a4ed2cd02cee25c8f67bb17d6 = L.circleMarker(
                [19.2396742, 73.1366482],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_874e0945467fef520345c9b4ad0152fc);
        
    
        var popup_74573b654927208e235a10cf5fe56bea = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_62c06349825bdc1d0f50507ac82c55e4 = $(`<div id="html_62c06349825bdc1d0f50507ac82c55e4" style="width: 100.0%; height: 100.0%;">Kalyan: 16.471 per 100,000 people</div>`)[0];
                popup_74573b654927208e235a10cf5fe56bea.setContent(html_62c06349825bdc1d0f50507ac82c55e4);
            
        

        circle_marker_a510296a4ed2cd02cee25c8f67bb17d6.bindPopup(popup_74573b654927208e235a10cf5fe56bea)
        ;

        
    
    
            var circle_marker_50784acf56d885d05b3b242e7f364fa6 = L.circleMarker(
                [26.4609135, 80.3217588],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_874e0945467fef520345c9b4ad0152fc);
        
    
        var popup_365e1be140a06a54107f4be8d0e69b98 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_47095d055ec5525a43c34145fcccb786 = $(`<div id="html_47095d055ec5525a43c34145fcccb786" style="width: 100.0%; height: 100.0%;">Kanpur: 6.946 per 100,000 people</div>`)[0];
                popup_365e1be140a06a54107f4be8d0e69b98.setContent(html_47095d055ec5525a43c34145fcccb786);
            
        

        circle_marker_50784acf56d885d05b3b242e7f364fa6.bindPopup(popup_365e1be140a06a54107f4be8d0e69b98)
        ;

        
    
    
            var circle_marker_565e5154b0d1d0864585ed29c342739d = L.circleMarker(
                [22.5726459, 88.3638953],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_874e0945467fef520345c9b4ad0152fc);
        
    
        var popup_e2683a043ce59f0a655977aa5c61fce0 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_8e70bfb00f860515a95a6f919d874938 = $(`<div id="html_8e70bfb00f860515a95a6f919d874938" style="width: 100.0%; height: 100.0%;">Kolkata: 37.761 per 100,000 people</div>`)[0];
                popup_e2683a043ce59f0a655977aa5c61fce0.setContent(html_8e70bfb00f860515a95a6f919d874938);
            
        

        circle_marker_565e5154b0d1d0864585ed29c342739d.bindPopup(popup_e2683a043ce59f0a655977aa5c61fce0)
        ;

        
    
    
            var circle_marker_a332cba827dc13a910ee4eae7e403b22 = L.circleMarker(
                [26.8381, 80.9346001],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_874e0945467fef520345c9b4ad0152fc);
        
    
        var popup_ca205345b50a0527c57b6cff94491793 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_b775659ece24cc342ab0f2f24891ba94 = $(`<div id="html_b775659ece24cc342ab0f2f24891ba94" style="width: 100.0%; height: 100.0%;">Lucknow: 41.498 per 100,000 people</div>`)[0];
                popup_ca205345b50a0527c57b6cff94491793.setContent(html_b775659ece24cc342ab0f2f24891ba94);
            
        

        circle_marker_a332cba827dc13a910ee4eae7e403b22.bindPopup(popup_ca205345b50a0527c57b6cff94491793)
        ;

        
    
    
            var circle_marker_8bc35b55573a5c2f73ac518f62e42ca2 = L.circleMarker(
                [30.9090157, 75.851601],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_874e0945467fef520345c9b4ad0152fc);
        
    
        var popup_8a967cb2580fb1541d1f2b5befcad6d3 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_6d2a9ecd2b00bb76326d717190d66e3a = $(`<div id="html_6d2a9ecd2b00bb76326d717190d66e3a" style="width: 100.0%; height: 100.0%;">Ludhiana: 5.2 per 100,000 people</div>`)[0];
                popup_8a967cb2580fb1541d1f2b5befcad6d3.setContent(html_6d2a9ecd2b00bb76326d717190d66e3a);
            
        

        circle_marker_8bc35b55573a5c2f73ac518f62e42ca2.bindPopup(popup_8a967cb2580fb1541d1f2b5befcad6d3)
        ;

        
    
    
            var circle_marker_87c3aa6af9ac1f79090a0d087267f477 = L.circleMarker(
                [29.0018557, 77.76796714992041],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_874e0945467fef520345c9b4ad0152fc);
        
    
        var popup_96a1c2a37561cfef3420589ad5968dde = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_d4634eb1f40228c506e1d8e5cb42db8e = $(`<div id="html_d4634eb1f40228c506e1d8e5cb42db8e" style="width: 100.0%; height: 100.0%;">Meerut: 4.642 per 100,000 people</div>`)[0];
                popup_96a1c2a37561cfef3420589ad5968dde.setContent(html_d4634eb1f40228c506e1d8e5cb42db8e);
            
        

        circle_marker_87c3aa6af9ac1f79090a0d087267f477.bindPopup(popup_96a1c2a37561cfef3420589ad5968dde)
        ;

        
    
    
            var circle_marker_399480b21519917718d9fed439e33b4c = L.circleMarker(
                [19.054999, 72.8692035],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_874e0945467fef520345c9b4ad0152fc);
        
    
        var popup_d2ef3b3652d95ad2ffbcd597b52b86ff = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_dac33e5dde19d7535c3b014e824faa8c = $(`<div id="html_dac33e5dde19d7535c3b014e824faa8c" style="width: 100.0%; height: 100.0%;">Mumbai: 36.403 per 100,000 people</div>`)[0];
                popup_d2ef3b3652d95ad2ffbcd597b52b86ff.setContent(html_dac33e5dde19d7535c3b014e824faa8c);
            
        

        circle_marker_399480b21519917718d9fed439e33b4c.bindPopup(popup_d2ef3b3652d95ad2ffbcd597b52b86ff)
        ;

        
    
    
            var circle_marker_85e593e806a3e0087f7dca2de1d5a5c2 = L.circleMarker(
                [21.1498134, 79.0820556],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_874e0945467fef520345c9b4ad0152fc);
        
    
        var popup_18884feb9027d53816f072712fd1cb6f = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_33fe25b80137aea8aff98eadfbf2efca = $(`<div id="html_33fe25b80137aea8aff98eadfbf2efca" style="width: 100.0%; height: 100.0%;">Nagpur: 25.225 per 100,000 people</div>`)[0];
                popup_18884feb9027d53816f072712fd1cb6f.setContent(html_33fe25b80137aea8aff98eadfbf2efca);
            
        

        circle_marker_85e593e806a3e0087f7dca2de1d5a5c2.bindPopup(popup_18884feb9027d53816f072712fd1cb6f)
        ;

        
    
    
            var circle_marker_8c0fdbfada8ac37975dbbbde2a8fa41a = L.circleMarker(
                [20.0112475, 73.7902364],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_874e0945467fef520345c9b4ad0152fc);
        
    
        var popup_46ec2e5a885ca02bb42a9096888cb55e = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_bcec4b1166d9d4547c3727f1af25d052 = $(`<div id="html_bcec4b1166d9d4547c3727f1af25d052" style="width: 100.0%; height: 100.0%;">Nashik: 14.226 per 100,000 people</div>`)[0];
                popup_46ec2e5a885ca02bb42a9096888cb55e.setContent(html_bcec4b1166d9d4547c3727f1af25d052);
            
        

        circle_marker_8c0fdbfada8ac37975dbbbde2a8fa41a.bindPopup(popup_46ec2e5a885ca02bb42a9096888cb55e)
        ;

        
    
    
            var circle_marker_4d3f52635be78e57bd6e2b7171bf2fe9 = L.circleMarker(
                [25.6093239, 85.1235252],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_874e0945467fef520345c9b4ad0152fc);
        
    
        var popup_2ce1b685d9dc0531cb4319650fe8233f = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_2849469d54f975dcb4c2ef7d45b95f15 = $(`<div id="html_2849469d54f975dcb4c2ef7d45b95f15" style="width: 100.0%; height: 100.0%;">Patna: 4.067 per 100,000 people</div>`)[0];
                popup_2ce1b685d9dc0531cb4319650fe8233f.setContent(html_2849469d54f975dcb4c2ef7d45b95f15);
            
        

        circle_marker_4d3f52635be78e57bd6e2b7171bf2fe9.bindPopup(popup_2ce1b685d9dc0531cb4319650fe8233f)
        ;

        
    
    
            var circle_marker_742e26910ccd55c855d1b507baf2dfbc = L.circleMarker(
                [18.5213738, 73.8545071],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_874e0945467fef520345c9b4ad0152fc);
        
    
        var popup_6ca948123926429b4afc74b5af44ce02 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_7947903824653faad04d0dec5907eaae = $(`<div id="html_7947903824653faad04d0dec5907eaae" style="width: 100.0%; height: 100.0%;">Pune: 64.267 per 100,000 people</div>`)[0];
                popup_6ca948123926429b4afc74b5af44ce02.setContent(html_7947903824653faad04d0dec5907eaae);
            
        

        circle_marker_742e26910ccd55c855d1b507baf2dfbc.bindPopup(popup_6ca948123926429b4afc74b5af44ce02)
        ;

        
    
    
            var circle_marker_8b57610b749d4c5bf84ffe6a78fd30ca = L.circleMarker(
                [22.3053263, 70.8028377],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_874e0945467fef520345c9b4ad0152fc);
        
    
        var popup_432636f70ed91023447ed2c7a089a0c9 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_29f84eff892c06c54718eb282b1659dd = $(`<div id="html_29f84eff892c06c54718eb282b1659dd" style="width: 100.0%; height: 100.0%;">Rajkot: 3.461 per 100,000 people</div>`)[0];
                popup_432636f70ed91023447ed2c7a089a0c9.setContent(html_29f84eff892c06c54718eb282b1659dd);
            
        

        circle_marker_8b57610b749d4c5bf84ffe6a78fd30ca.bindPopup(popup_432636f70ed91023447ed2c7a089a0c9)
        ;

        
    
    
            var circle_marker_6ee8fa50bfdf3aed0d162805f9860b6b = L.circleMarker(
                [34.0747444, 74.8204443],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_874e0945467fef520345c9b4ad0152fc);
        
    
        var popup_b0efaeeb6a09279cb0e08eac4adb000e = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_609dc5181df0d0e492d699d267f174b5 = $(`<div id="html_609dc5181df0d0e492d699d267f174b5" style="width: 100.0%; height: 100.0%;">Srinagar: 10.988 per 100,000 people</div>`)[0];
                popup_b0efaeeb6a09279cb0e08eac4adb000e.setContent(html_609dc5181df0d0e492d699d267f174b5);
            
        

        circle_marker_6ee8fa50bfdf3aed0d162805f9860b6b.bindPopup(popup_b0efaeeb6a09279cb0e08eac4adb000e)
        ;

        
    
    
            var circle_marker_012c9068cb8fcc94e3ddb8c5493d03d2 = L.circleMarker(
                [21.2094892, 72.8317058],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_874e0945467fef520345c9b4ad0152fc);
        
    
        var popup_5b087c00113b2861b5040c3d27eda362 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_8982a08a7c0cfdc72ded31a93d60c9c6 = $(`<div id="html_8982a08a7c0cfdc72ded31a93d60c9c6" style="width: 100.0%; height: 100.0%;">Surat: 11.709 per 100,000 people</div>`)[0];
                popup_5b087c00113b2861b5040c3d27eda362.setContent(html_8982a08a7c0cfdc72ded31a93d60c9c6);
            
        

        circle_marker_012c9068cb8fcc94e3ddb8c5493d03d2.bindPopup(popup_5b087c00113b2861b5040c3d27eda362)
        ;

        
    
    
            var circle_marker_5eb56f9e244247cb98fcfbf9927a6561 = L.circleMarker(
                [19.1943294, 72.9701779],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_874e0945467fef520345c9b4ad0152fc);
        
    
        var popup_144e1baf3564fe9db0f879eada8c6fac = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_f1088a46b1698a8dd5dd097dd7b9658c = $(`<div id="html_f1088a46b1698a8dd5dd097dd7b9658c" style="width: 100.0%; height: 100.0%;">Thane: 3.741 per 100,000 people</div>`)[0];
                popup_144e1baf3564fe9db0f879eada8c6fac.setContent(html_f1088a46b1698a8dd5dd097dd7b9658c);
            
        

        circle_marker_5eb56f9e244247cb98fcfbf9927a6561.bindPopup(popup_144e1baf3564fe9db0f879eada8c6fac)
        ;

        
    
    
            var circle_marker_840b977d09871c31918c560d284902d2 = L.circleMarker(
                [25.3356491, 83.0076292],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_874e0945467fef520345c9b4ad0152fc);
        
    
        var popup_11cf9da971894d6f2bece02a1a8fbc83 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_840e6b1e633f1a335b252845cdc5f618 = $(`<div id="html_840e6b1e633f1a335b252845cdc5f618" style="width: 100.0%; height: 100.0%;">Varanasi: 2.518 per 100,000 people</div>`)[0];
                popup_11cf9da971894d6f2bece02a1a8fbc83.setContent(html_840e6b1e633f1a335b252845cdc5f618);
            
        

        circle_marker_840b977d09871c31918c560d284902d2.bindPopup(popup_11cf9da971894d6f2bece02a1a8fbc83)
        ;

        
    
    
            var circle_marker_9497b419ae7b983f6f362dd23da8d5e5 = L.circleMarker(
                [19.3428238, 72.805441],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_874e0945467fef520345c9b4ad0152fc);
        
    
        var popup_9855170256a23cb11f91778e5f33c614 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_b73ce2ac3367fcf5475875e93956cf8d = $(`<div id="html_b73ce2ac3367fcf5475875e93956cf8d" style="width: 100.0%; height: 100.0%;">Vasai: 4.939 per 100,000 people</div>`)[0];
                popup_9855170256a23cb11f91778e5f33c614.setContent(html_b73ce2ac3367fcf5475875e93956cf8d);
            
        

        circle_marker_9497b419ae7b983f6f362dd23da8d5e5.bindPopup(popup_9855170256a23cb11f91778e5f33c614)
        ;

        
    
    
            var circle_marker_e0b4d3b41873f692b5730e0a063f995c = L.circleMarker(
                [17.6935526, 83.2921297],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(map_874e0945467fef520345c9b4ad0152fc);
        
    
        var popup_e57c394b3618066f2c5d93bd240710dc = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_86d5b8d2ea6ed9f157d96f6c6a52a4dc = $(`<div id="html_86d5b8d2ea6ed9f157d96f6c6a52a4dc" style="width: 100.0%; height: 100.0%;">Visakhapatnam: 4.746 per 100,000 people</div>`)[0];
                popup_e57c394b3618066f2c5d93bd240710dc.setContent(html_86d5b8d2ea6ed9f157d96f6c6a52a4dc);
            
        

        circle_marker_e0b4d3b41873f692b5730e0a063f995c.bindPopup(popup_e57c394b3618066f2c5d93bd240710dc)
        ;

        
    
</script>
</html>